@import "./template.scss";

body {
  margin: 0;
  main {
    .fixednavbar {
      position: fixed;
      background-color: white;
      top: 0;
      z-index: 1;
      opacity: 1;
      transition: opacity 200ms;
      width: 100%;
      .fixednavbar__row {
        @include contentstyle();
        display: flex;
        border-bottom: 1px black solid;
      }
      .fixednavbar__logo {
        width: 140px;
      }

      .fixednavbar__list {
        line-height: 90px;
        ul {
          display: flex;
          list-style: none;
          justify-content: flex-end;
          margin: 0;
        }
        ul li {
          margin: 0 10px;
          cursor: pointer;
          transition: all 200ms ease-in-out;
          &:hover {
            -webkit-filter: blur(1px);
            filter: blur(1px);
          }
        }
      }
    }

    .content {
      @include contentstyle();
      padding: 40px 20px;
      margin-top: 60px;

      .content__row {
        margin-bottom: 20px;
      }

      .content__img {
        margin-bottom: 20px;
      }

      .content__button {
        @include buttonstyle();
        margin-top: 20px;
        a {
          color: white;
          cursor: pointer;
        }
      }

      .content__title {
        @include titlestyle();
      }
      .content__text {
        @include textstyle();
      }
      .content__video {
        height: 600px;
        margin-bottom: 20px;
      }
    }

    .footer {
      background-color: #1f1f1f;
      color: white;

      padding: 40px 0;
      .footer__row {
        @include contentstyle();
        .footer__row-copyright {
          margin-top: 20px;
          padding-top: 20px;
          border-top: 1px solid white;
          text-align: center;
        }
        .footer__col {
          display: flex;
          align-items: center;
          justify-content: center;
          .footer__col-logo {
            filter: invert(100%);
            padding-right: 20px;
            border-right: solid black 1px;
          }

          .footer__col-list {
            list-style: none;
            li {
              margin: 10px 0;
            }
            .footer__col-list-icon {
              cursor: pointer;
              margin: 5px 0;
            }
          }
        }
      }
    }
  }
}
