@import "./template.scss";

body {
  margin: 0;
  main {
    .fixednavbar {
      position: fixed;
      background-color: white;
      top: 0;
      z-index: 1;
      opacity: 1;
      transition: opacity 200ms;
      width: 100%;
      .fixednavbar__row {
        @include contentstyle();
        display: flex;
        border-bottom: 1px black solid;
      }
      .fixednavbar__logo {
        width: 140px;
      }

      .fixednavbar__list {
        line-height: 90px;
        ul {
          display: flex;
          list-style: none;
          justify-content: flex-end;
          margin: 0;
        }
        ul li {
          margin: 0 10px;
          cursor: pointer;
          transition: all 200ms ease-in-out;
          &:hover {
            -webkit-filter: blur(1px);
            filter: blur(1px);
          }
        }
      }
    }

    .content {
      @include contentstyle();
      padding: 40px 20px;
      margin-top: 50px;

      .content__title {
        @include titlestyle();
      }
      .content__text {
        @include textstyle();
      }
      .content__video {
        height: 600px;
        margin-bottom: 20px;
      }

      .cards__row {
        .cards__row-card {
          div {
            height: 200px;
            margin-top: 20px;
            background-color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            transition: 200ms all ease-in-out;
            cursor: pointer;

            &:hover {
              background-color: #bbd359;
            }

            img {
              margin-bottom: 20px;
            }

            p {
              color: white;
            }
          }
        }
      }
    }
    .show {
      display: block !important;
    }
    .info {
      background-color: #f7f6f3;
      padding-bottom: 40px;
      display: none;
      .info__row {
        @include contentstyle();
        .info__row-title {
          @include titlestyle();
          padding-left: 20px;
        }
        .info__row-price {
          padding: 20px;
          p {
            @include textstyle();
          }
        }
        .info__row-benefit {
          padding: 20px;
          background-color: #e7e7e7;
          ul li {
            @include textstyle();
          }

          img {
            margin-top: 20px;
            width: 100%;
            padding: 20px;
          }
        }
      }
    }
  }
}
