@import "./template.scss";

body {
  margin: 0;
  main {
    .fixednavbar {
      position: fixed;
      background-color: white;
      top: 0;
      z-index: 1;
      opacity: 1;
      transition: opacity 200ms;
      width: 100%;
      .fixednavbar__row {
        @include contentstyle();
        display: flex;
        border-bottom: 1px black solid;
      }
      .fixednavbar__logo {
        width: 140px;
      }

      .fixednavbar__list {
        line-height: 90px;
        ul {
          display: flex;
          list-style: none;
          justify-content: flex-end;
          margin: 0;
        }
        ul li {
          margin: 0 10px;
          cursor: pointer;
          transition: all 200ms ease-in-out;
          &:hover {
            -webkit-filter: blur(1px);
            filter: blur(1px);
          }
        }
      }
    }

    .content {
      @include contentstyle();
      padding: 40px 20px;
      margin-top: 50px;

      .content__row {
        margin-bottom: 20px;
      }

      .content__img {
        margin-bottom: 20px;
      }

      .content__button {
        @include buttonstyle();
        margin-top: 20px;
        a {
          color: white;
          cursor: pointer;
        }
      }

      .content__title {
        @include titlestyle();
      }
      .content__text {
        @include textstyle();
      }
      .content__video {
        height: 600px;
        margin-bottom: 20px;
      }
    }
  }
}
