@import "./template.scss";
main {
  .fixednavbar__shownav {
    opacity: 1 !important;
    z-index: 1 !important;
  }
  .fixednavbar {
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 0;
    opacity: 0;
    transition: opacity 200ms;
    width: 100%;
    .fixednavbar__row {
      @include contentstyle();
      display: flex;
      border-bottom: 1px black solid;
    }
    .fixednavbar__logo {
      width: 140px;
    }

    .fixednavbar__list {
      line-height: 90px;
      ul {
        display: flex;
        list-style: none;
        justify-content: flex-end;
        margin: 0;
      }
      ul li {
        margin: 0 10px;
        cursor: pointer;
        transition: all 200ms ease-in-out;
        &:hover {
          -webkit-filter: blur(1px);
          filter: blur(1px);
        }
      }
    }
  }

  .maincontent {
    .navbar {
      width: 100%;
      .navbar__row {
        @include contentstyle();
        display: flex;
        border-bottom: 1px black solid;
      }
      .navbar__logo {
        width: 140px;
      }

      .navbar__list {
        line-height: 90px;
        ul {
          display: flex;
          list-style: none;
          justify-content: flex-end;
          margin: 0;
        }
        ul li {
          margin: 0 10px;
          cursor: pointer;
          transition: all 200ms ease-in-out;
          &:hover {
            -webkit-filter: blur(1px);
            filter: blur(1px) !important;
          }
        }
      }
    }

    margin: auto;
    background-image: $gradient_color;
    width: 100%;
    .maincontent__content {
      @include contentstyle();
      padding-bottom: 30px;
    }
    .maincontent__content-title {
      padding-right: 40px;
      h1 {
        @include titlestyle();
      }

      p {
        @include textstyle();
      }

      .maincontent__content-title-button {
        @include buttonstyle();
        margin-top: 20px;
        a {
          color: white;
          cursor: pointer;
        }
      }
    }
    .maincontent__content-image {
      margin-top: 20px;
    }
  }

  .membershipintro {
    padding: 40px 0;
    @include contentstyle();
    .membershipintro__content {
      @include contentstyle();
      transition: 400ms all ease-in-out;
      .membershipintro__content-title {
        @include titlestyle();
        padding: 0 20px;
      }

      .membershipintro__content-des {
        @include textstyle();
        padding: 0 20px;
      }

      .membershipintro__content-des-group {
        max-height: 0;
        overflow: hidden;
        transition: 400ms all ease-in-out;
      }

      .membershipintro__content-des-group-show {
        max-height: 5000px !important;
      }

      .membershipintro__content-list {
        padding: 20px;
        .membershipintro__content-list-item {
          overflow: hidden;
          height: 500px;
          margin-bottom: 20px;
          transition: all 200ms ease-in-out;
          &:hover {
            -webkit-filter: blur(5px);
            filter: blur(5px) !important;
          }

          img {
            width: 100%;
            cursor: pointer;
          }
        }

        .membershipintro__content-list-text {
          border-top: 1px solid black;
          padding-top: 10px;
          font-size: 20px;
        }
      }
      .membershipintro__content-button {
        margin-left: 20px;
        margin-top: 20px;
        @include buttonstyle();
        border: none;
      }
    }
  }

  .aboutus {
    background-color: #f7f6f3;
    padding: 40px 0;
    .aboutus__content {
      @include contentstyle();

      .aboutus__content-description {
        .aboutus__content-title {
          @include titlestyle();
        }
        .aboutus__content-text {
          @include textstyle();
        }
        .aboutus__content-button {
          @include buttonstyle();
          margin-top: 40px;
          a {
            color: white;
            cursor: pointer;
          }
        }
      }
    }
  }

  .start {
    background-color: #e0f391;
    .start__content {
      @include contentstyle();
      padding: 40px 0;
    }

    .start__content-buttonsection {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: auto;
    }

    .start__content-text {
      @include titlestyle();
    }

    .start__content-button {
      @include buttonstyle();
      margin: 0;
      a {
        color: white;
        cursor: pointer;
      }
    }
  }
}
